<h2>ai</h2>
<table border="1">
<tr><th>B_train</th><th>B_validation</th><th>B_test</th><th>I_train</th><th>I_validation</th><th>I_test</th><th>Entity</th></tr>
<tr><td>80</td><td>178</td><td>177</td><td>93</td><td>185</td><td>198</td><td>algorithm</td></tr>
<tr><td>60</td><td>147</td><td>219</td><td>64</td><td>163</td><td>282</td><td>task</td></tr>
<tr><td>58</td><td>173</td><td>198</td><td>59</td><td>172</td><td>147</td><td>product</td></tr>
<tr><td>54</td><td>142</td><td>160</td><td>42</td><td>129</td><td>138</td><td>researcher</td></tr>
<tr><td>48</td><td>94</td><td>145</td><td>84</td><td>174</td><td>224</td><td>organisation</td></tr>
<tr><td>43</td><td>180</td><td>181</td><td>65</td><td>239</td><td>196</td><td>misc</td></tr>
<tr><td>39</td><td>178</td><td>207</td><td>43</td><td>156</td><td>180</td><td>field</td></tr>
<tr><td>32</td><td>59</td><td>28</td><td>57</td><td>89</td><td>45</td><td>university</td></tr>
<tr><td>29</td><td>44</td><td>44</td><td>4</td><td>7</td><td>18</td><td>country</td></tr>
<tr><td>27</td><td>147</td><td>191</td><td>37</td><td>165</td><td>204</td><td>metrics</td></tr>
<tr><td>25</td><td>35</td><td>60</td><td>6</td><td>5</td><td>16</td><td>programlang</td></tr>
<tr><td>24</td><td>89</td><td>93</td><td>70</td><td>211</td><td>217</td><td>conference</td></tr>
<tr><td>7</td><td>42</td><td>39</td><td>5</td><td>38</td><td>29</td><td>location</td></tr>
<tr><td>6</td><td>41</td><td>67</td><td>7</td><td>43</td><td>64</td><td>person</td></tr>
</table>

<h2>conll2003</h2>
<table border="1">
<tr><th>B_train</th><th>B_validation</th><th>B_test</th><th>I_train</th><th>I_validation</th><th>I_test</th><th>Entity</th></tr>
<tr><td>7129</td><td>1837</td><td>1662</td><td>1168</td><td>257</td><td>263</td><td>location</td></tr>
<tr><td>6600</td><td>1842</td><td>1617</td><td>4528</td><td>1307</td><td>1156</td><td>person</td></tr>
<tr><td>6297</td><td>1341</td><td>1656</td><td>3728</td><td>751</td><td>840</td><td>organisation</td></tr>
<tr><td>3403</td><td>918</td><td>693</td><td>1190</td><td>350</td><td>225</td><td>misc</td></tr>
</table>

<h2>literature</h2>
<table border="1">
<tr><th>B_train</th><th>B_validation</th><th>B_test</th><th>I_train</th><th>I_validation</th><th>I_test</th><th>Entity</th></tr>
<tr><td>133</td><td>544</td><td>567</td><td>117</td><td>492</td><td>535</td><td>writer</td></tr>
<tr><td>91</td><td>336</td><td>418</td><td>244</td><td>779</td><td>898</td><td>book</td></tr>
<tr><td>58</td><td>212</td><td>239</td><td>55</td><td>198</td><td>197</td><td>misc</td></tr>
<tr><td>48</td><td>194</td><td>175</td><td>33</td><td>142</td><td>135</td><td>person</td></tr>
<tr><td>47</td><td>79</td><td>120</td><td>93</td><td>141</td><td>232</td><td>poem</td></tr>
<tr><td>36</td><td>152</td><td>194</td><td>17</td><td>70</td><td>84</td><td>literarygenre</td></tr>
<tr><td>34</td><td>124</td><td>141</td><td>79</td><td>318</td><td>335</td><td>award</td></tr>
<tr><td>25</td><td>127</td><td>101</td><td>12</td><td>62</td><td>56</td><td>country</td></tr>
<tr><td>25</td><td>111</td><td>99</td><td>23</td><td>67</td><td>76</td><td>location</td></tr>
<tr><td>18</td><td>115</td><td>110</td><td>42</td><td>224</td><td>195</td><td>organisation</td></tr>
<tr><td>16</td><td>71</td><td>57</td><td>25</td><td>105</td><td>114</td><td>magazine</td></tr>
<tr><td>10</td><td>65</td><td>45</td><td>26</td><td>143</td><td>89</td><td>event</td></tr>
</table>

<h2>music</h2>
<table border="1">
<tr><th>B_train</th><th>B_validation</th><th>B_test</th><th>I_train</th><th>I_validation</th><th>I_test</th><th>Entity</th></tr>
<tr><td>125</td><td>402</td><td>462</td><td>138</td><td>375</td><td>514</td><td>band</td></tr>
<tr><td>104</td><td>472</td><td>515</td><td>80</td><td>394</td><td>443</td><td>musicalartist</td></tr>
<tr><td>91</td><td>282</td><td>332</td><td>175</td><td>527</td><td>675</td><td>album</td></tr>
<tr><td>88</td><td>360</td><td>487</td><td>78</td><td>309</td><td>400</td><td>musicgenre</td></tr>
<tr><td>69</td><td>230</td><td>260</td><td>240</td><td>720</td><td>837</td><td>award</td></tr>
<tr><td>36</td><td>136</td><td>208</td><td>61</td><td>223</td><td>362</td><td>organisation</td></tr>
<tr><td>30</td><td>187</td><td>343</td><td>32</td><td>186</td><td>382</td><td>location</td></tr>
<tr><td>27</td><td>130</td><td>160</td><td>7</td><td>30</td><td>28</td><td>country</td></tr>
<tr><td>27</td><td>177</td><td>227</td><td>45</td><td>413</td><td>491</td><td>song</td></tr>
<tr><td>22</td><td>124</td><td>171</td><td>19</td><td>93</td><td>122</td><td>misc</td></tr>
<tr><td>15</td><td>65</td><td>80</td><td>13</td><td>52</td><td>58</td><td>person</td></tr>
<tr><td>12</td><td>72</td><td>69</td><td>35</td><td>195</td><td>164</td><td>event</td></tr>
<tr><td>2</td><td>42</td><td>22</td><td>3</td><td>7</td><td>3</td><td>musicalinstrument</td></tr>
</table>

<h2>politics</h2>
<table border="1">
<tr><th>B_train</th><th>B_validation</th><th>B_test</th><th>I_train</th><th>I_validation</th><th>I_test</th><th>Entity</th></tr>
<tr><td>359</td><td>411</td><td>485</td><td>341</td><td>370</td><td>412</td><td>politician</td></tr>
<tr><td>297</td><td>211</td><td>599</td><td>96</td><td>138</td><td>189</td><td>location</td></tr>
<tr><td>195</td><td>1053</td><td>953</td><td>359</td><td>1995</td><td>1662</td><td>politicalparty</td></tr>
<tr><td>152</td><td>431</td><td>513</td><td>259</td><td>835</td><td>1011</td><td>organisation</td></tr>
<tr><td>123</td><td>528</td><td>434</td><td>467</td><td>1920</td><td>1640</td><td>election</td></tr>
<tr><td>80</td><td>193</td><td>258</td><td>43</td><td>129</td><td>130</td><td>misc</td></tr>
<tr><td>62</td><td>183</td><td>418</td><td>8</td><td>85</td><td>219</td><td>country</td></tr>
<tr><td>22</td><td>186</td><td>195</td><td>47</td><td>419</td><td>464</td><td>event</td></tr>
<tr><td>14</td><td>286</td><td>354</td><td>5</td><td>280</td><td>338</td><td>person</td></tr>
</table>

<h2>science</h2>
<table border="1">
<tr><th>B_train</th><th>B_validation</th><th>B_test</th><th>I_train</th><th>I_validation</th><th>I_test</th><th>Entity</th></tr>
<tr><td>169.0</td><td>360.0</td><td>520.0</td><td>171.0</td><td>282.0</td><td>434.0</td><td>misc</td></tr>
<tr><td>127.0</td><td>328.0</td><td>471.0</td><td>137.0</td><td>338.0</td><td>515.0</td><td>scientist</td></tr>
<tr><td>121.0</td><td>373.0</td><td>337.0</td><td>19.0</td><td>107.0</td><td>106.0</td><td>astronomicalobject</td></tr>
<tr><td>118.0</td><td>278.0</td><td>273.0</td><td>308.0</td><td>716.0</td><td>598.0</td><td>organisation</td></tr>
<tr><td>97.0</td><td>153.0</td><td>230.0</td><td>76.0</td><td>146.0</td><td>221.0</td><td>person</td></tr>
<tr><td>72.0</td><td>193.0</td><td>160.0</td><td>25.0</td><td>138.0</td><td>76.0</td><td>chemicalcompound</td></tr>
<tr><td>69.0</td><td>101.0</td><td>156.0</td><td>22.0</td><td>63.0</td><td>117.0</td><td>protein</td></tr>
<tr><td>65.0</td><td>142.0</td><td>170.0</td><td>54.0</td><td>81.0</td><td>187.0</td><td>location</td></tr>
<tr><td>56.0</td><td>140.0</td><td>146.0</td><td>199.0</td><td>470.0</td><td>473.0</td><td>award</td></tr>
<tr><td>56.0</td><td>138.0</td><td>130.0</td><td>119.0</td><td>269.0</td><td>292.0</td><td>university</td></tr>
<tr><td>28.0</td><td>149.0</td><td>180.0</td><td>43.0</td><td>321.0</td><td>367.0</td><td>academicjournal</td></tr>
<tr><td>22.0</td><td>48.0</td><td>80.0</td><td>22.0</td><td>37.0</td><td>77.0</td><td>enzyme</td></tr>
<tr><td>22.0</td><td>41.0</td><td>73.0</td><td>10.0</td><td>17.0</td><td>28.0</td><td>discipline</td></tr>
<tr><td>20.0</td><td>36.0</td><td>31.0</td><td>53.0</td><td>72.0</td><td>80.0</td><td>event</td></tr>
<tr><td>16.0</td><td>23.0</td><td>85.0</td><td>0.0</td><td>7.0</td><td>15.0</td><td>chemicalelement</td></tr>
<tr><td>9.0</td><td>28.0</td><td>27.0</td><td>2.0</td><td>7.0</td><td>4.0</td><td>country</td></tr>
<tr><td>8.0</td><td>7.0</td><td>20.0</td><td>11.0</td><td>8.0</td><td>35.0</td><td>theory</td></tr>
</table>

<h2>Shared Entities</h2>
<table border="1">
<tr><th>event</th><th>award</th><th>country</th><th>person</th><th>misc</th><th>location</th><th>organisation</th><th>university</th></tr>
<tr><td>music</td><td>music</td><td>politics</td><td>conll2003</td><td>conll2003</td><td>conll2003</td><td>conll2003</td><td>ai</td></tr>
<tr><td>politics</td><td>literature</td><td>science</td><td>politics</td><td>politics</td><td>politics</td><td>politics</td><td>science</td></tr>
<tr><td>literature</td><td>science</td><td>ai</td><td>science</td><td>science</td><td>science</td><td>science</td><td>None</td></tr>
<tr><td>science</td><td>None</td><td>literature</td><td>ai</td><td>ai</td><td>ai</td><td>ai</td><td>None</td></tr>
<tr><td>None</td><td>None</td><td>music</td><td>literature</td><td>literature</td><td>literature</td><td>literature</td><td>None</td></tr>
<tr><td>None</td><td>None</td><td>None</td><td>music</td><td>music</td><td>music</td><td>music</td><td>None</td></tr>
</table>

<h2>Unique Entities</h2>
<table border="1">
<tr><th>Entities</th><th>Subset</th></tr>
<tr><td>product</td><td>ai</td></tr>
<tr><td>musicalinstrument</td><td>music</td></tr>
<tr><td>musicgenre</td><td>music</td></tr>
<tr><td>magazine</td><td>literature</td></tr>
<tr><td>song</td><td>music</td></tr>
<tr><td>astronomicalobject</td><td>science</td></tr>
<tr><td>conference</td><td>ai</td></tr>
<tr><td>discipline</td><td>science</td></tr>
<tr><td>politician</td><td>politics</td></tr>
<tr><td>scientist</td><td>science</td></tr>
<tr><td>theory</td><td>science</td></tr>
<tr><td>book</td><td>literature</td></tr>
<tr><td>chemicalcompound</td><td>science</td></tr>
<tr><td>band</td><td>music</td></tr>
<tr><td>literarygenre</td><td>literature</td></tr>
<tr><td>politicalparty</td><td>politics</td></tr>
<tr><td>task</td><td>ai</td></tr>
<tr><td>metrics</td><td>ai</td></tr>
<tr><td>chemicalelement</td><td>science</td></tr>
<tr><td>protein</td><td>science</td></tr>
<tr><td>programlang</td><td>ai</td></tr>
<tr><td>writer</td><td>literature</td></tr>
<tr><td>election</td><td>politics</td></tr>
<tr><td>academicjournal</td><td>science</td></tr>
<tr><td>poem</td><td>literature</td></tr>
<tr><td>algorithm</td><td>ai</td></tr>
<tr><td>album</td><td>music</td></tr>
<tr><td>researcher</td><td>ai</td></tr>
<tr><td>field</td><td>ai</td></tr>
<tr><td>musicalartist</td><td>music</td></tr>
<tr><td>enzyme</td><td>science</td></tr>
</table>

